{% extends 'base.html' %}

{% block content %}

<h2>Edit Profile</h2>

<form method="POST" action="">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username }}
    {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}

    {{ form.favorite_books.label }} {{ form.favorite_books }}
    {% for error in form.favorite_books.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}

    {{ form.submit }}
</form>

{% endblock %}
